<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0be5a25f3b.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <a href="localhost:3000/index.html"><img src="/img/logo-mercado-liebre.svg" alt=""></a>
        <input type="search" placeholder="Buscar productos, marcas y más...">
        <button type="submit" for="search">Buscar</button>

        <nav>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
        </nav>

        <nav>
            <ul>
                <li>Creá tu cuenta</li>
                <li>Ingresá</li>
                <li>Mis compras</li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="ultimas-vistas">
            <h2>Basado en tu última vista</h2>
            <article>
                <img src="img/img-cafetera-moulinex.jpg" alt="">
                <h3>$6.700</h3>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>

            </article>
            <article>
                <img src="img/img-macbook-pro-2019.jpg" alt="">
                <h3>$6.700</h3>
                <p>40% OFF</p>
                <p>Macbook Pro</p>
            </article>
            <article>
                <img src="img/img-samsung-galaxy-s10.jpg" alt="">
                <h3>$6.700</h3>
                <p>40% OFF</p>
                <p>Samsung Galaxy</p>
            </article>
        </section>

        <section id="ofertas">
            <h2>Ofertas</h2>
            <article>
                <img src="img/img-cafetera-moulinex.jpg" alt="">
                <h3>$6.700</h3>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>

            </article>
            <article>
                <img src="img/img-macbook-pro-2019.jpg" alt="">
                <h3>$6.700</h3>
                <p>40% OFF</p>
                <p>Macbook Pro</p>
            </article>
            <article>
                <img src="img/img-samsung-galaxy-s10.jpg" alt="">
                <h3>$6.700</h3>
                <p>40% OFF</p>
                <p>Samsung Galaxy</p>
            </article>
        </section>
    </main>

    <footer>
        <article>
            <h4>Pagá con tarjeta o efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
                ¡Y siempre es seguro!
            </p>
        </article>
        <article>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos.
                Es un beneficio de Mercado Puntos.
            </p>
        </article>
        <article>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque
                estás siempre protegid@.
            </p>
        </article>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>

    
</body>
</html>