<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/0be5a25f3b.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div>
            <nav id="search-bar">
                <a href="/"><img src="/img/logo-mercado-liebre.svg" alt=""></a>
                <div class="burger">
                    <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
                </div>
                <div class="search">
                    <input type="search" placeholder="Buscar productos, marcas y más...">
                    <button type="submit" for="search"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                </div>
                <p><i class="fa-solid fa-hand-holding-dollar" style="color: #03264c;"></i> Comprá en cuotas y sin tarjeta de crédito</p>

            </nav>



            <nav id="main-nav">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#"></a>Tiendas oficiales</a></li>
                    <li><a href="#"></a>Vender</a></li>
                    <li><a href="#"></a>Ayuda</a></li>
                </ul>

                <ul>
                    <li><i class="fa-regular fa-id-card" style="color: #03264c;"></i><a href="register"> Creá tu cuenta</a></li>
                    <li><i class="fa-solid fa-right-to-bracket" style="color: #03264c;"></i><a href="login"> Ingresá</a></li>
                    <li><i class="fa-sharp fa-solid fa-basket-shopping" style="color: #03264c;"></i>  Mis compras</li>
                </ul>

            </nav>
        </div>

    </header>

    <section class="banner">
    </section>

    <main>


        <section id="ultimas-vistas">
            <h2>Basado en tu última vista</h2>
            <div class="contenedor-productos">
                <article class="producto">
                    <img src="img/img-cafetera-moulinex.jpg" alt="">
                    <div class="circulo-camion"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
                    <h3 class="precio">$6.700</h3>
                    <p class="descuento">40% OFF</p>
                    <p class="nombre-producto">Cafetera Moulinex</p>
                    <p class="descripcion">Lorem Impsuom doret sit amer</p>

                </article>
                <article class="producto">
                    <img src="img/img-macbook-pro-2019.jpg" alt="">
                    <div class="circulo-camion"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
                    <h3 class="precio">$6.700</h3>
                    <p class="descuento">40% OFF</p>
                    <p class="nombre-producto">Macbook Pro</p>
                    <p class="descripcion">Lorem Impsuom doret sit amer</p>
                </article>
                <article class="producto">
                    <img src="img/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="circulo-camion"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
                    <h3 class="precio">$6.700</h3>
                    <p class="descuento">40% OFF</p>
                    <p class="nombre-producto">Samsung Galaxy</p>
                    <p class="descripcion">Lorem Impsuom doret sit amer</p>
                </article>
            </div>
        </section>

        <section id="ofertas">
            <h2>Ofertas</h2>
            <div class="contenedor-productos">
                <article class="producto">
                    <img src="img/img-cafetera-moulinex.jpg" alt="">
                    <div class="circulo-camion"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
                    <h3 class="precio">$6.700</h3>
                    <p class="descuento">40% OFF</p>
                    <p class="nombre-producto">Cafetera Moulinex</p>
                    <p class="descripcion">Lorem Impsuom doret sit amer</p>

                </article>
                <article class="producto">
                    <img src="img/img-macbook-pro-2019.jpg" alt="">
                    <div class="circulo-camion"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
                    <h3 class="precio">$6.700</h3>
                    <p class="descuento">40% OFF</p>
                    <p class="nombre-producto">Macbook Pro</p>
                    <p class="descripcion">Lorem Impsuom doret sit amer</p>
                </article>
                <article class="producto">
                    <img src="img/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="circulo-camion"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
                    <h3 class="precio">$6.700</h3>
                    <p class="descuento">40% OFF</p>
                    <p class="nombre-producto">Samsung Galaxy</p>
                    <p class="descripcion">Lorem Impsuom doret sit amer</p>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <section>
            <article>
                <i class="fa-solid fa-credit-card" style="color: #275abc;"></i>
                <h4>Pagá con tarjeta o efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
                    ¡Y siempre es seguro!
                </p>
            </article>
            <article>
                <i class="fa-solid fa-gift" style="color: #275abc;"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos.
                    Es un beneficio de Mercado Puntos.
                </p>
            </article>
            <article>
                <i class="fa-solid fa-user-shield" style="color: #275abc;"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque
                    estás siempre protegid@.
                </p>
            </article>
        </section>
        <section id="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>


</body>

</html>