.registro {
    display: flex;
    border: 1px solid #c8cbce;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 20px;
}

.img-login {
    width: 50%;
    height: auto;
    text-align: center;
    /* Centra la imagen horizontalmente */
}

.img-login img {
    width: 100%;
    height: 100%;

}

.register-form h1{
    padding-bottom: 20px;
}

.register-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px 0px 50px 50px;
}

.register-form label {
    margin: 10px 0;

}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="date"],
.register-form input[type="password"],
.register-form input[type="file"] {
    height: 4vh;
    border: 1px solid #c8cbce;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 20px;
}

.register-form input[type="checkbox"],
.register-form input[type="radio"] {

    border-radius: 5px;
}


.register-form button {
    border: 0;
    border-radius: 5px;
    padding: 10px 40px;
    font-size: 1vw;
    background-color: #c8cbce;
    color: gray;
    margin-top: 20px;
    width: 35%;
}



.register-form button:last-child {
    background-color: #3483fa;
    color: white;
    margin-left: 10px;
}


.dos-columnas {
    display: flex;
}

.dos-columnas button {
    width: calc(50% - 60px);
    /* Resta el valor del padding izquierdo (10px en este caso) */
}



.categorias label, .recordarme label{
    margin-right: 20px;
    align-items: center;
}

.recordarme label:first-child{
    color:#3483fa;
}



@media only screen and (max-width: 480px) {

    /* phones */
    .registro {
        flex-direction: column;
    }

    .img-login {
        width: 100%;
        height: auto;
    }

    .register-form {
        width: 100%;
    }
}

.login-button{
    width: 80% !important;
    margin-left:0 !important;

}